# Порт на котором работает приложение
PORT = 7002

# Данные для подключения к базе 
DB_DATABASE=name
DB_HOST=localhost
DB_USER=postgres
DB_PASS="pass"
DB_PORT=5432
DB_DIALECT=postgres
DB_SCHEMA=schema_name

# Среда 
NODE_ENV=development

# Секреты JWT 
JWT_ACCESS_SECRET=jwt-access-secrete
JWT_REFRESH_SECRET=jwt-refresh-secret
