# Порт на котором работает приложение 
NODE_PORT=7000
# Секрет JWT для проверки токена 
JWT_ACCESS_SECRET=jwt-access-secrete
# Урлы сервисов 
AUTH_SERVICE_URL=http://localhost:7001

USER_SERVICE_URL=http://localhost:7001

BLOG_SERVICE_URL=http://localhost:7002
